@model TeamTalk.Models.Entities.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    @using (Html.BeginForm("DoLogin","User")) 
    {
        @Html.AntiForgeryToken()

        <div class="wrapper">
            <div class="container">
                <div class="col-md-12">
                    
                        <h4>User Login</h4>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-10">
                                @{
                                    if (ViewBag.Wrong != null)
                                    {
                                        <label>@ViewBag.Wrong</label>
                                    }
                                }
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Login" class="btn btn-default" />
                            </div>
                            <div>
                                @Html.ActionLink("Register", "Register", "User", new { @class = "btn btn-default" })
                            </div>
                        </div>
                   
                </div>

                <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>


            </div>
        </div>
                                    }

    <script src="~/Scripts/bubble.js"></script>
    
</body>
</html>
